$violeta-oscuro: #8e9aaf;
$violeta-medio: #adadc1;
$violeta-claro: #cbc0d3;
$vioelta-rosado: #ddcad5;
$rosa-oscuro: #efd3d7;
$rosa-medio: #f7dfe9;
$rosa-claro: #feeafa;
$celeste-claro: #eee6fd;
$celeste-oscuro: #dee2ff;
$color-texto: #212121;
